<!-- templates/home.html-->
{% extends 'base.html' %}

<div class="row">
<div class="col">

{% block title %} Longstreet Solutions Project{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a class="btn btn-primary" href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>

  <a class="btn btn-primary" href="{% url 'login' %}">login</a>
  <a class="btn btn-secondary" href="{% url 'signup' %}">SignUp</a>
{% endif %}
{% endblock %}
	
</div>
</div>

